.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-weight: bold;
    cursor: pointer;
}

.admin:hover, .copyright:hover   {
    background-color: rgba(113, 193, 236, 0.8);
    color: rgb(42, 95, 165);
    padding: 5px;
    border-radius: 5px;
}

