/* @import "../styles/variables.scss"; */

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: rgb(89, 84, 231);
}

.listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.listItem:hover {
    background-color: rgba(113, 193, 236, 0.8);
    color: rgb(42, 95, 165);
    border-radius: 20px;
    
}