@import "../styles/variables.scss";

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.listItem:hover {
    background-color: burlywood;
}