
/* this is to make logo and icons all display on one horizontal row */
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.span{
    color: rgb(8, 58, 138);
    font-size: 35px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}



