
/* this is to make logo and icons all display on one horizontal row */
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}



